body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

p{
    line-height: 2;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.top{
    padding-top: 150px;
    background-color: #CBF1F5;
    position: relative;
}

.middle-container{
    margin: 100px 0;
}

.mountain{
    width: 70%;
    display: inline-block;
}

.cloud{
    height: 30%;
    width: 20%;
    display: inline-block;
}

.tp-cloud{
    position: absolute;
    bottom: 70%;
    right: 300px;
}

.md-cloud{
    position: absolute;
    top: 300px;
    left: 300px;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.skill-row h3{
padding-top: 40px;
}
.img-skill1{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.img-skill2{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.btn {
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #71C9CE;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }
  
  .btn:hover {
    background: #43abb0;
    text-decoration: none;
  }

.bottom-container{
    background-color: #66BFBF;
    padding: 40px 0 20px;
}

.intro{
    width: 30%;
    margin: auto;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.copyright{
    font-size: 0.75rem;
    color: #EAF6F6;
}

.profile img{
    width: 250px;
}




/* .nav{
    background-color: rgb(81, 81, 81);
    color: white;
}

.md{
    height: 200px;
    width: 200px;
    background-color: red;
}

.bt{
    height: 200px;
    width: 200px;
    background-color: blue;
}
.box1{
    height: 100px;
    width: 100px;
    background-color: red;
    display: inline-block;
    position: relative;
    left: 200px;
}

.box2{
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;
    position: relative;
    right: 100px;
}

.box3{
    height: 100px;
    width: 100px;
    background-color: yellow;
    display: inline-block;
    position: relative;
    right: 100px;
} */